:root {
    --color-primary: #FF6565;
    --color-secondary: #071629;
    --color-white: #FFFFFF; 
}

/* Footer */
footer {
    padding: 100px 160px 40px 160px;
    background: var(--color-secondary);
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_links a {
    color: var(--color-white);
    font-size: 34px;
}

.social_links a:not(:last-child) {
    margin-right: 16px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 50px;
    font-weight: 300;
}


/* Responsive Design */
/* tablet */
@media (max-width: 1000px) {
    footer {
        padding: 100px 60px 40px 60px;
    }

}

@media (max-width: 600px) {
    footer {
        padding: 100px 30px 40px 30px;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 70px 30px 40px 30px;
    }
    .footer_container {
        flex-direction: column;
    }
    .social_links {
        margin-top: 50px;
    }
}
